HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/target/classpath.txt

### IntelliJ ###
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.classpath
.project
.settings/
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### SQLite / WAL ###
*.db
*.db-wal
*.db-shm
executor/tmp/

### Frontend ###
frontend/node_modules/
frontend/dist/
frontend/.vite/
