[Unit]
Description=OpenQuiz
After=network.target

[Service]
Type=simple
User=openquiz
WorkingDirectory=/opt/openquiz
ExecStart=/usr/bin/java -XX:+UseZGC -Xms2g -Xmx2g \
  -XX:+UseStringDeduplication -XX:+PerfDisableSharedMem -XX:+UseCompactObjectHeaders \
  -jar /opt/openquiz/openquiz.jar \
  --spring.profiles.active=prod \
  --openquiz.executor.mode=nsjail
SuccessExitStatus=143
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
