:root {
  --vp-c-brand-1: #3255a4;
  --vp-c-brand-2: #3255a4;
  --vp-c-brand-3: #27428a;
  --vp-c-brand-soft: rgba(50, 85, 164, 0.14);
  --vp-c-accent: #3255a4;
}

.dark {
  --vp-c-brand-1: #3255a4;
  --vp-c-brand-2: #3255a4;
  --vp-c-brand-3: #4a6dc0;
}
